In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.axes as ax

In [24]:
data = pd.read_csv('tvmarketing.csv')

In [25]:
data.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TV      200 non-null    float64
 1   Sales   200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

In [27]:
train_input = np.array(data.TV[0:140]).reshape(140,1)
train_output = np.array(data.TV[0:140]).reshape(140,1)

test_input = np.array(data.Sales[140:200]).reshape(60,1)
test_output = np.array(data.Sales[140:200]).reshape(60,1)

In [28]:
train_input.shape

(140, 1)

In [29]:
test_input.shape

(60, 1)

# Training the data
Sequence of steps:
Forward Propagation,
Cost Function,
Backward Propagation,
Updating Parameters

# Forward Propagation

In [32]:
def forward_propagation(parameters, train_input):
    m = parameters['m']
    c = parameters['c']
    
    predictions = np.multiply(m, train_input) + c
    return predictions

# Cost Function

In [33]:
def cost_function(predictions, train_output):
    cost = np.mean((predictions - train_output)**2) * 0.5
    return cost

# Gradient Descent For Back Propagation

In [35]:
def backward_propagation(train_input, train_output, predictions):
    derivatives= dict()
    df = predictions - test_output
    dm = np.mean(np.multiply(df, train_input))
    dc = np.mean(df)
    
    derivatives['dm'] = dm
    derivatives['dc'] = dc
    return derivatives

# Update the Parameters

In [ ]:
def update_parameters(parameters, derivatives, learning_rate):
    parameters['m'] = parameters['m'] -  learning_rate * derivatives['dm']